@model List<Product>


<div class="features_items">
	<!--features_items-->
	<h2 class="title text-center">Features Items</h2>

	@foreach (var product in Model)
	{
		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<a href="/Home/ProductDetails?id=@product.Id">
							<img src="~/images/home/product5.jpg" alt="" />
							<h2>$@product.Price</h2>
							<p>@product.Title</p>
						</a>
						<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>					
				</div>
				<div class="choose">
					<ul class="nav nav-pills nav-justified">
						<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
						<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
					</ul>
				</div>
			</div>
		</div>
	}
	
	

	<ul class="pagination">
		<li class="active"><a href="">1</a></li>
		<li><a href="">2</a></li>
		<li><a href="">3</a></li>
		<li><a href="">»</a></li>
	</ul>
</div>