@model List<Brand>

<div class="brands-name">
	<ul class="nav nav-pills nav-stacked">
		@foreach (var item in Model)
		{
			<li><a href="#"> <span class="pull-right">(@item.Products.Count())</span></a>@item.Name</li>
		}
	</ul>
</div>

