@using DAL.DTOs.ProductDto
@model DAL.DTOs.ProductDto.ProductUpdateDTO
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Ürün Güncelle</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form action="/Product/Update" method="post" enctype="multipart/form-data">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Kategori</label>
                                        <select class="form-control" asp-for="CategoryId">
                                            @foreach (Category item in (List<Category>)ViewBag.Categories)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Ürün Adı</label>
                                        <input asp-for="Title" type="text" class="form-control" placeholder="Ürün adı girin..">
                                    </div>
                                    <div class="form-group">
                                        <label>Rating</label>
                                        <input asp-for="Rating" type="text" class="form-control" placeholder="Ürün adı girin..">
                                    </div>
                                    <label>Marka</label>
                                    <select class="form-control" asp-for="BrandId">
                                        @foreach (Brand item in (List<Brand>)ViewBag.Brands)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    </select>

                                    <div class="form-group">
                                        <label>WebId</label>
                                        <input asp-for="WebID" type="number" class="form-control" placeholder="WebID yazın">
                                    </div>
                                    <div class="form-group">
                                        <label>Fiyat</label>
                                        <input asp-for="Price" type="number" class="form-control" min="0" step="0.5" placeholder="Ürün fiyatı girin..">
                                    </div>
                                    <div class="form-group">
                                        <label>Stok</label>
                                        <input asp-for="Stock" type="number" class="form-control" min="0" step="1" placeholder="Stok sayısı girin..">
                                    </div>
                                    <div class="form-group">
                                        <label>Resim</label>
                                        <input type="file" name="files" class="form-control">
                                    </div>
                                    @* <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div> *@
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Güncelle</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                        <!--/.col (left) -->

                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>


